<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="coboardMapper">

<!-- property 는 member의 변수이름 cloumn은 데이터베이스 컬럼이름(대소문자 상관x) -->
	<resultMap type="coboard" id="coboardMap">
	<!-- 	 <id property="co_No" column="co_no"/>
		<result property="co_Type" column="co_type"/>
		<result property="co_Title" column="co_title"/>
		<result property="co_Content" column="co_content"/>
		<result property="co_Date" column="co_date"/>
		<result property="co_Count" column="co_count"/>
		<result property="co_Status" column="co_status"/>
		<result property="co_Mno" column="co_mno"/> -->
		<collection property="files" ofType="boardfile" >
			<id property="f_No" column="f_No" />
	 		<result property="f_Cname" column="f_Cname" />
	 		<result property="f_Cono" column="f_Cono" />
		</collection>
	</resultMap>


	<select id="selectcoBoardList" resultType="coboard">
		SELECT C.*, 
			(SELECT M_NICK FROM MEMBER WHERE M_NO = C.CO_MNO) NICK
		FROM CO_BOARD C
        WHERE CO_STATUS = 'Y'
        ORDER BY CO_DATE DESC
	</select>

	<select id="selectcoBoardListFood" resultType="coboard">
		SELECT C.*, 
			(SELECT M_NICK FROM MEMBER WHERE M_NO = C.CO_MNO) NICK
		FROM CO_BOARD C
        WHERE CO_STATUS = 'Y' AND CO_TYPE='식단'
        ORDER BY CO_DATE DESC
	</select>

	<select id="selectBoardTotalContents" resultType="_int">
		SELECT COUNT(*) FROM CO_BOARD
	</select>
	
	


	<insert id="insertBoard" parameterType ="coboard">
		INSERT INTO CO_BOARD
		VALUES ('CO' ||CO_BOARD_SEQ.NEXTVAL, #{co_Type}, #{co_Title}, #{co_Content}, SYSDATE, 0 , 'Y', #{co_Mno})  <!-- 회원번호 받는거로 추후 세션 구현 후 수정하야함 -->
	</insert>
	
	

	<insert id="insertAttachment" parameterType="boardfile">
		<selectKey keyProperty="co_No" resultType="string" order="BEFORE">
			SELECT CO_BOARD_SEQ.CURRVAL FROM DUAL
		</selectKey>
	
		INSERT INTO BOARD_FILE(F_NO, F_CONO, F_TYPE, F_NAME, F_CNAME, F_UPLOADDATE)
		VALUES (BOARD_FILE_SEQ.NEXTVAL, 'CO'||#{co_No}, '1', #{f_Name}, #{f_Cname}, SYSDATE)
	</insert> 
	
	
	<select id="selectOneBoard" parameterType="string" resultType="coboard">
		SELECT C.*, (SELECT M_NICK FROM MEMBER WHERE M_NO = C.CO_MNO) NICK  FROM CO_BOARD C WHERE CO_NO = #{co_No} 
<!-- 	SELECT C.*, (SELECT M_NICK FROM MEMBER WHERE M_NO = C.CO_MNO) NICK, (SELECT F_CNAME FROM BOARD_FILE WHERE F_CONO=#{co_No}) FILES  FROM CO_BOARD C WHERE CO_NO = #{co_No}; -->
	</select>
	
	

	<update id="updateReadCount" parameterType="string">
		UPDATE CO_BOARD
		SET CO_COUNT = CO_COUNT + 1
		WHERE CO_NO = #{co_No}
	</update>
	
	
	<select id="selectFileList" parameterType="string" resultType="boardfile">
		SELECT * FROM BOARD_FILE WHERE F_CONO = #{co_No}
	</select>
	
	<delete id="deleteFile" parameterType="_int">
		DELETE FROM BOARD_FILE
		WHERE F_NO = #{f_No}
	</delete>
	
	
	<delete id="deleteAttachment" parameterType="string">
		DELETE FROM BOARD_FILE
		WHERE CO_NO = #{co_No}
	</delete>
	
	<insert id="updateAttachment" parameterType="boardfile">
	INSERT INTO BOARD_FILE(F_NO, F_CONO, F_TYPE, F_NAME, F_CNAME, F_UPLOADDATE)  VALUES
	 (BOARD_FILE_SEQ.NEXTVAL, #{co_No}, 1, #{f_Name}, #{f_Cname}, SYSDATE)
	</insert>
	

	<update id="updateBoard" parameterType="coboard">
		UPDATE CO_BOARD
		SET CO_TITLE = #{co_Title},
		    CO_CONTENT = #{co_Content}
		WHERE CO_NO = #{co_No}
	</update>
	
	<delete id="deleteBoard" parameterType="string">
		DELETE FROM CO_BOARD
		WHERE CO_NO = #{co_No}
	</delete>
	
	<insert id="insertboardComment" parameterType="boardcomment">
		INSERT INTO BOARD_COMMENT(BC_NO, BC_CONTENT, BC_DATE, BC_TYPE, BC_CONO, BC_MNO) VALUES (BOARD_COMMENT_SEQ.NEXTVAL, #{bc_Content}, SYSDATE, 1, #{bc_Cono}, #{bc_Mno})
	</insert>
	
	<select id="selectBoardComment" parameterType="string" resultType="boardcomment">
		SELECT * FROM BOARD_COMMENT WHERE BC_CONO = #{co_No}
	</select>
	
	<!-- 
	<insert id="updateAttachment" parameterType="Attachment">
		INSERT INTO ATTACHMENT VALUES control에서 boardNo를 받고 시작하기 때문에 
		(SEQ_ATTACHMENTNO.NEXTVAL, #{boardNo}, #{originalFileName}, #{renamedFileName},
		 DEFAULT, DEFAULT, DEFAULT )
	</insert>

	<delete id="deleteAttachment" parameterType="_int">
		DELETE FROM ATTACHMENT
		WHERE BOARDNO = #{boardNo}
	</delete>
	
	<delete id="deleteBoard" parameterType="_int">
		DELETE FROM BOARD
		WHERE BOARDNO = #{boardno}
	</delete>
	
	<delete id="deleteFile" parameterType="_int">
		DELETE FROM ATTACHMENT
		WHERE ATTACHMENTNO = #{attNo}
	</delete> -->
</mapper>